.header{
    display: flex;
    align-content: center;
    justify-content: space-between;
    background: transparent;
    z-index: 100;
    width: 100%;
    position: relative;
}
.header__logo{
    width: 100px;
    height: 95px;
    margin-left: 15px;
    margin: 15px;
    background: black;
}
.header__center
{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    height: 30px;
    color: white;
    font-weight: bold;
    padding: 10px;
    color: black;
}
.header__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin-right: 43%;
}
.header__button{
    background-color: lightgray !important;
    margin-right: 10px !important;
    width: 90px !important;
    height: 45px !important;
    background: #fff !important;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: none !important;
}
